{% extends 'base.html' %}
{% load static %}
{% block content %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#table').DataTable({
            "info":     false,
            "bLengthChange": false,
            "pageLength": 12,
            language: {
            	searchPlaceholder: "Search a Backer",
            	search: "",
            }
        });
    } );
</script>
<!-- Main Content -->
<div class="main-content-wrapper">
	<div class="main-content">
		<h1>Backers</h1>
		
		<div class="project-wrapper">
			<div class="project-backers">
				<table class="table responsive" id="table">
					<thead>
						<tr>
							<th>Full Name</th>
							<th>Email Address</th>
							<th>Backed Projects</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for backer in backers %}
						<tr>
							<td>{{ backer.name }}</td>
							<td>{{ backer.email }}</td>
							
							<td class="images">
								{% if backer.get_all_backed_projects %}
									{% for project in backer.get_all_backed_projects %}
										<div class="dt-project-image">
											<img class="table-image" src="{{ project.image.url }}" alt="{{ project.title }}">
											<span class="tooltip">{{ project.title }}</span>
										</div>
									{% endfor %}
								{% else %}
								<span class="dt-new-backer">NEW</span>
								{% endif %}
							</td>
							<td>a</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}